
<div>
    <h1 id={{user.role}} class="userRole">Perfil</h1>
    <h2>Nombre: {{user.name}}</h2>
    <h2>Email: {{user.email}}</h2>
    <div style="display: flex; justify-content:center; align-items: center; width:100%; gap:20px">
        <button style="padding: 10px 8px; border-radius: 20px; background-color:rgb(38, 181, 72); color:azure" id='logout'>Cerrar Sesion</button>
        <button style="padding: 10px 8px; border-radius: 20px; background-color:rgb(56, 17, 228); color:rgb(0, 0, 0)" id='accessAdmin'>Acceso Administrador</button>
        <button  id="cart"  value={{user.cart}} style="border: none; background-color: transparent; cursor:pointer; color:green "><svg xmlns="http://www.w3.org/2000/svg" width="50px" height="50px" viewBox="0 0 24 24" fill="none">
        <path d="M6.29977 5H21L19 12H7.37671M20 16H8L6 3H3M9 20C9 20.5523 8.55228 21 8 21C7.44772 21 7 20.5523 7 20C7 19.4477 7.44772 19 8 19C8.55228 19 9 19.4477 9 20ZM20 20C20 20.5523 19.5523 21 19 21C18.4477 21 18 20.5523 18 20C18 19.4477 18.4477 19 19 19C19.5523 19 20 19.4477 20 20Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg></button>
    </div>
   
</div>

<br>
{{#if isAdmin}}
    
{{/if}}
{{#if isValid}}
    
<h1>Todos los productos</h1>
    <div  style="display: flex; justify-content: center; align-items:center; width:80%; flex-wrap: wrap; gap: 10px; ">
        {{#each result.docs}}
            <div style="border: 1px black solid; border-radius: 20px; padding:10px;  width:500px;  height: 300px;">
                <h2>Title: {{{this.title}}}</h2>
                <h3>Description: {{this.description}}</h3>
                <h3>Price:  {{this.price}}</h3>
                <div>{{this.thumbnail}}</div>
                <p>Stock: {{this.stock}}</p>
                <br>
                <div style="display: flex; justify-content:center; align-items: center; width:100%;" id="btnContainer">
                <button style="padding: 10px 8px; border-radius: 20px; background-color:rgb(8, 53, 136); color:azure" id={{this.id}} value= {{this.stock}} class="btnAddCart">Agregar al carrito</button>
                </div>
                </div>
            <br>
            <br>
        {{/each}}
    </div>
    <br />

    <div>
        {{#if prevLink}}
        <a href={{prevLink}}>
                Anterior </a>
        {{/if}}

        {{!-- numero de pagina --}}
        &nbsp;
        {{result.page}}
        &nbsp;

        {{#if nextLink}}
        <a href={{nextLink}}>
            Siguiente -> </a>
        {{/if}}
    </div>
    
    {{#else}}
    <h1>No hay productos para mostrar</h1>
    {{/else}}
    
{{/if}}


<script src="/js/profile.js"></script>